

.wrapper_bg{
    margin: 0;
    position: relative;
    width: 30vw;
    height: 17vw;
    left: 5%;
    top: 50%;
    transform: translate(-60%, -50%);
    z-index:-10;
}


 h1.upperheadline {
    margin: 0;

    position: absolute;
    right: 50%;
    top: 50%;
    width: 30vw;
    height: 12vw;
    transform: translate(-90%, -50%);
    padding-right: 20px;
    color: white;
            font-size: 60px;
            line-height: 12vw;
            text-align: right;
            font-style: italic;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 100;
            text-shadow:#000 3px 4px 5px
    
}





.login {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index:10;
}

.login input {
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    width: 10em;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
    outline: none;
}

.login .button {
    text-decoration: none;
    color: white;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px;
    background-color: cornflowerblue;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 1px white;
    transition: box-shadow 1s;
}

.login .button:active {
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

//////////////////////////////////////下拉菜单/////////////////////////////////
.menu {
    height: 58px;
}
.menu li {
   
    min-width: 160px;
}

.menu > li {
	display: block;
	float: left;
	position: relative;
	left: -30px;
	font-size: 28px;
	font-family: 微软雅黑,宋体;
	color: #CCC;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-family: 'Lucida Console';
    font-size: 18px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/* onhover styles */
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}


.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}


.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}

.menu1 {
    height: 58px;
}
.menu1 li {
   
    min-width: 160px;
}

.menu1 > li {
	display: block;
	float: left;
	position: relative;
	left: -30px;
	font-size: 28px;
	font-family:黑体;
	color: #060;
}

.menu1 a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-family: 'Lucida Console';
    font-size: 18px;
    line-height: 20px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/* onhover styles */
.menu1 li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}


.menu1 > li:hover .submenu li, .menu1 > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/////////////////////轮播图/////////////////////////////////
* {
  margin:0;
  padding:0;
}

ul {
  list-style:none;
}

#wrap {
  position:relative;
  width:1104px;
  height:682px;
  padding-left:0;
  overflow:hidden;
}

.bigpic{
	width:1104px;
	height:682px;
}

#slider {
  width:3312px;
  height:682px;
  margin-left:0;
  float:left;
  -webkit-animation:slide1 12s ease-out infinite;
}

#slider li {
  float:left;
  width:1104px;
  height:682px;
}

#slider li:nth-child(1) {
  background:#6bacef;
}

#slider li:nth-child(2) {
  background:#297cd3;
}

#slider li:nth-child(3) {
  background:#01254a;
}

/*创建三种动画策略*/
@-webkit-keyframes slide1 {
	0% { margin-left:-40px;}
	23% { margin-left:-40px;}
	33% { margin-left:-1144px;}
	56% { margin-left:-1144px;}
	66% { margin-left:-2248px;}
	90% { margin-left:-2248px;}
	100% {margin-left:-40px;}
  }
  
  @-webkit-keyframes slide2 {
	0% { margin-left:-1144px;}
	23% { margin-left:-1144px;}
	33% { margin-left:-2248px;}
	56% { margin-left:-2248px;}
	66% { margin-left:-40px;}
	90% { margin-left:-40px;}
	100% {margin-left:-1144px;}
  }
  
  @-webkit-keyframes slide3 {
	0% { margin-left:-2248px;}
	23% { margin-left:-2248px;}
	33% { margin-left:-40px;}
	56% { margin-left:-40px;}
	66% { margin-left:-2248px;}
	90% { margin-left:-2248px;}
	100% {margin-left:-2248px;}
  }


/*修改动画名称*/
#l01:checked ~ #wrap #slider {
  -webkit-animation-name:slide1;
}

#l02:checked ~ #wrap #slider {
  -webkit-animation-name:slide2;
}

#l03:checked ~ #wrap #slider {
  -webkit-animation-name:slide3;
}


/*短暂地取消动画名称，模拟重启动画*/
#l01:active ~ #wrap #slider {
  -webkit-animation-name:none;
  margin-left:-20px;
}

#l02:active ~ #wrap #slider {
  -webkit-animation-name:none;
  margin-left:-1104px;
}

#l03:active ~ #wrap #slider {
  -webkit-animation-name:none;
  margin-left:-2208px;
}

/* 隐藏Input按钮*/
#l01, #l02, #l03 {
  display:none;
}

.box{
	width: 50px;
	height: 50px;
	float:left;
	color:#fff;
	font:"华文琥珀";
	font-size:20px;
}
.box li{
	position:relative;
	text-align: left;
	list-style-type: none;
	display: inline-block;
	width: 45px;
	height:50px;
	text-shadow:0 2px 1px #f4f4f4;
	
	border-radius: 5px;
	margin-right:10px;


}
.box ul{
	background-color:rgba(0,0,0,0.00);
	width:150px;
}
.box li span:re{
	text-align:center;
}
.box li:before,
.box li:after{
	display: block;
	position: absolute;
	width: 50px;
}
.box li:before{
	top:50%;
	height: 1px;
}
.box li:after{
	bottom: -65px;
	height: 60px;
	border-radius:0 0 5px 5px;
	z-index: 1
}
.box li span:first-child{
	font:35px 'BitstreamVeraSansMonoBold';
	display: block;
	height: 30px;
	line-height: 28px;
}